$primary-main: #2196f3;
$primary-light: #64b5f6;
$primary-dark: #1976d2;
$secondary-light: #648dae;
$secondary-main: #f44336;
$warning-main: #ff9800;
$error-main: #ba000d;
$success-main: #4caf50;

$primary-text: #fff;
$secondary-text: #000;

  